body {
	margin: 0;
	padding: 0;
	background: honeydew;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 65%;
	font-size: 30px;
	/* this font has a single weight axis called `DOTS` whose value ranges from 100 to 1000 */
	font-family: "littlebit-dotty-variable", sans-serif;
	font-variation-settings: "DOTS" 1;
}