body {
	margin: 0;
	padding: 0;
	background: honeydew;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body .slider-box {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid black;
	background: lavenderblush;
}

body .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 65%;
	font-size: 30px;
}